@import 'mixins';

a{
    text-decoration: none;
    color: #fff;

    &:focus{
        outline:none;
    }
}

body{
    overflow: hidden;
}

@import 'type';
@import 'common';
@import 'header';
@import 'preloader';
@import 'square-button';
@import 'slider';
@import 'error';
@import 'page-all';
@import 'page-blogindex';
@import 'page-blogsingle';
@import 'page-contact';
@import 'page-home';
@import 'page-portfolioindex';
@import 'page-portfoliosingle';
@import 'page-staticpage';
@import 'scroll';
@import 'touch-device';

