.button{
    display: inline-block;
    padding: 10px 15px;
    background-color: @primary-bg;
    color: @primary-fg;
    text-shadow: none;
    /*border-radius: 3px;*/
    font-weight: bold;
    .box-shadow(1px 2px 5px rgba(0,0,0,0.3));
    .transition(all 0.1s ease);


    &:hover{
        background-color: @primary-fg !important;
        color: @primary-sp !important;
    }

}
