header{
    position: fixed;
    background-color: #fff;
    left:0;
    right:0;
    z-index: 5;
    box-shadow: 0 0 20px rgba(0,0,0,0.25) ;
    overflow:hidden;

    .nav-wrap{
        position: absolute;
        right:0;
        left: 0;
        bottom: 0;
        height: 70px;
        box-shadow: 0 0 20px rgba(0,0,0,0.25) ;
        background-color: #fff;

        nav{
            font-family: @secondaryFontFamily;
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 940px;
            height: 70px;
            padding: 0 10px;
            text-align: center;

            .pointer{
                height: 1px;
                background-color: #d00;
            }

            a,
            a:visited
            {
                display: inline-block;
                line-height:70px;
                margin-left:10px;
                margin-right: 10px;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 2px;

            }

        }

        .logo{
            position: absolute;
            left: 30px;
            font-size: 28px;
            line-height: 70px;
            font-style: italic;

            a{
                color: #aaa;
            }
        }

        .social-link{
            position: absolute;
            right: 30px;
            top: 0px;

            a{
                font-size: 18px;
                line-height: 70px;
                display: inline-block;
                margin-left: 5px;
                color: #aaa;
            }
        }

        a{
            color: #666;
        }

        a:hover,
        a.current{
            color: #000;
        }


    }

}

