body > div.content.portfolioSingle{

    /*.aestic-slide-info,*/
    /*.aestic-slide-navigation{*/
        /*display: none;*/
    /*}*/
    .aestic-slide-navigation {
        > a{
            z-index: 2;
            bottom: 30px;
            top: auto;
        }
        .next{
            bottom: 60px;
            right: 60px;
        }
        .prev{
            left: auto;
            bottom: 60px;
            right: 120px;
        }
    }

    .aestic-slide-info{
        display: none;
    }

    .portfolio-desc{


        padding: 60px ;
        /*padding: 30px 30px 30px 110px ;*/
        .transition(all 0.3s ease);

        > .wrap{
            width: 35%;
            /*margin-left: auto;*/
        }

        h1{
            line-height: 42px;
            font-weight: 800;
            padding: 0;
            margin: 0 0 10px 0 ;
            text-shadow: 1px 1px 2px fadeout(#000, 30%);
            text-align: left;
            font-weight: normal;
        }

        .meta{
            text-shadow: 1px 1px 2px fadeout(#000, 30%);
            font-size: 0.8em;
            > a{
            text-transform: uppercase;
            font-family: @secondaryFontFamily;
            letter-spacing: 0.15em;
            font-weight: 800;
            
            }
        }

        span.toggle-details{
            font-family: "Aesticons";
            display: none;
            /*display: block;*/
            line-height: 30px;
            width: 30px;
            .border-radius(1px);
            text-align: center;
            cursor: pointer;
            background-color: @primary-bg;
            > span{
                .transition(all 0.3s ease);
                .rotate(135deg);
                display: block;
                line-height: 30px;
                width: 30px;
                font-size: 22px;
            }
        }

        .content{
            /*text-shadow: 1px 1px 2px fadeout(#000, 30%);*/
            .transition(all 0.2s ease);
            position: relative;
            margin-top: 30px;
            top: 30px;
            opacity: 0;
            overflow: auto;
            padding-right: 20px;
            margin-right: -20px;
            font-size: 0.75em;
            line-height: 2em;


            p{
                text-align: left;
            }


        }

    }

    .portfolio-desc-overlay{
        .gradient-horizontal(fadeout(#000, 5%), fadeout(#000, 100%));
        .transition(opacity 0.3s ease);
        opacity: 0;
    }

    &.active{
        .portfolio-desc{ 
            .content{
                top: 0;
                opacity: 1;
                /*opacity: 0.85;*/
            }
            span.toggle-details > span{
                .rotate(0deg);
            }
        }
        .portfolio-desc-overlay{
            opacity: 1;
        }
    }

    .menu-buttons{

        > a.close{
            .square-button();
            cursor: pointer;
            position: absolute;
            top: 60px;
            right: 60px;

            &:before{
                content: "\0f1113"
            }
        }
    }


}
