body > div.content{
    position: absolute;
    overflow: hidden;
    background-color: @primary-bg;
    color: @primary-fg;

    h1{
        text-align: center;
        /*text-transform: uppercase;*/
        /*margin: 0;*/
        /*padding: 10px 0;*/
        /*font-size: 20px;*/
        /*font-weight: 800;*/
        /*border-bottom: solid 10px #fff;*/
    }

    .container{
        padding-top: 50px;
        padding-bottom: 50px;
    }

}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
}

