.layer.front-images{
    bottom: 70px;
    overflow: hidden;

    .slides.aestic-slide-images{
        > li{
            background-color: #000;
            > img{
                opacity: 0.55;
                &.fadeout{
                    opacity: 0.15;
                }
            }
        }
    }
}

