body > div.content.portfolioIndex{
    top:70px;
    left:0;
    right:0;
    bottom:0;

    .categories{

        position: fixed;
        z-index: 1;
        text-transform: uppercase;
        bottom: 30px;
        left: 30px;
        display: block;
        width: 50px;
        min-height: 50px;
        font-size: 20px;
        /*overflow: hidden;*/
        .transition(all 0.3s ease);
        .box-shadow(0 0 10px rgba(0,0,0,0.3));
        font-family: 'fontello';
        background-color: @secondary-sp !important;
        color: @secondary-bg !important;
        .border-radius(1px);

        &:before {
            font-family: "Aesticons";
            display: inline-block;
            /*background-color: #444;*/
            text-align: center;
            content: '\0f1111';
            width: 100%;
            padding: 0;
            margin: 0;
            /*min-height: 50px;*/
            font-size: 24px;
            line-height: 50px;
        }


        ul{
            font-family: @secondaryFontFamily;
            .transition(all 0.3s ease);
            margin:0;
            padding: 30px 30px 20px 30px;
            list-style: none;
            height: 0;
            width: 0;
            display: none;


            li {
                padding: 0;
                margin: 0 0 10px 0;

                a{
                    display: block;
                    font-size: 18px;
                    line-height: 1;
                    font-weight: 400;
                    color: @primary-bg;
                    opacity: 0.75;
                    .transition(0.2s ease);

                    &:hover{
                        opacity: 1;
                        padding-left: 5px;
                    }
                }

                &.active a{
                    font-weight: 800;
                    opacity: 1;
                }

            }

        }

        &:hover{
            width: 200px;
            background-color: @secondary-bg !important;
            color: @secondary-sp !important;
            .box-shadow(0 0 15px rgba(0,0,0,0.5));
            text-align: left;
            /*padding-top: 10px;*/

            &:before{
                display: none;
                /*padding-left: 30px;*/
            }
            
            ul{
                height: auto;
                width: auto;
                display: block;
            }
        }
    }//.categories

    .wrap{

        padding:  0px 0px 0px 0;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;

        ul {
            display: block;
            padding:0;
            margin: 0;
            /*margin:30px 0;*/
            padding: 0;
            /*padding:0px 0 0 250px;*/

            li{
                display: block;
                padding:0;
                margin: 0px;
                float: left;
                position: relative;
                .transition(all 0.5s ease);

                &.inactive{

                    opacity: 0.3;

                    &::after{
                        content: '';
                        position: absolute;
                        top:0;
                        bottom:0;
                        left:0;
                        right:0;
                    }
                }

                a{
                    display: block;
                    padding:0;
                    margin:0px;
                    overflow: hidden;
                    position: relative;
                    background-color: @primary-sp;


                    span.info{
                        position:absolute;
                        padding: 30px;
                        top: 0;
                        left: 0;
                        color: #fff;
                        margin-top: 35px;
                        opacity: 0;
                        display: block;
                        /*font-size: 12px;*/
                        .transition(0.2s ease);

                        .title{
                            font-size:20px;
                            line-height: 1.5em;
                            /*font-weight: 800;*/
                            /*text-transform: uppercase;*/
                            font-style: italic;
                            border-bottom: 1px solid @primary-bg;
                        }

                        .meta{
                            font-family: @secondaryFontFamily;
                            letter-spacing: 0.15em;
                            padding-top: 0px;
                            display: block;
                            font-size:10px;
                            text-transform: uppercase;
                        }
                    }

                    &:hover span.info{
                        opacity: 1;
                        margin-top: 25px;
                    }

                    &:hover{
                    }

                    img{
                        width: auto\9;
                        height: auto;
                        max-width: 100%;
                        vertical-align: middle;
                        border: 0;
                        -ms-interpolation-mode: bicubic;
                        opacity: 1;
                        .transition(0.4s ease);
                    }

                    &:hover img{
                        opacity: 0.15;
                    }

                }
            }
        }
    }//.wrap


}

body > div.content.portfolioIndex.no-category{
    .categories{
        display: none;
    }

    .wrap ul {
        padding: 0 0 0 30px;
    }
}
