.content.blogIndex{
    .index{

        /*width: 360px;*/
        margin-right: auto;
        margin-left: auto;



        ul,
        li{
            display: block;
            padding: 0;
            margin: 0;
            list-style: none;
        }

        ul{
            padding-top: 20px;
        }

        li{
            position: relative;
            .transition(all 0.3s ease);
        }

        li a{
            display: block;
            margin-bottom: 30px;
            position: relative;


            > .title{
                .transition(all 0.3s ease);
                /*display: in;*/
                font-family: @secondaryFontFamily;
                font-size: 20px;
                line-height: 1.4;
                text-transform: uppercase;
                font-weight: bold;

                border-bottom: 1px solid transparent;
            }

            > .meta{
                display: block;
                margin-bottom: 5px;
                font-style: italic;
                font-weight: 600;
                float: right;
            }


            &:hover{
                > .title{
                    border-bottom-color: #fff;
                }
            }
        }

    }
}
