.preloader{
    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: 50px;
    z-index: 999;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    padding: 25px;

    &.initial{
        top: 0;
        left: 0;
        right: 0;
    }

    > .text{
        display: block;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1;
        font-size: 10px;
    }

}
