.aestic-slide-images{
    display: block;
    list-style: none;
    padding: 0;
    padding-top: 100%;
    margin: 0;
    position: absolute;
    overflow: hidden;
    height: 0;
    width: 100%;

    li{
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
}

.aestic-slide-navigation{

    > a{
        position: absolute;
        top: 50%;
        margin-top: -25px;



        &.prev{
            right: 120px;

            &:before{
                content: "\0f1114";
            }
        }

        &.next{
            right: 60px;

            &:before{
                content: "\0f1115";
            }
        }

        .square-button();

    }

    .thumbs{
        display: block;
        position: absolute;
        bottom: 30px;
        left: 30px;
        right: 30px;
        text-align: center;

        > a{
            vertical-align: center;
            display: inline-block;
            margin: 0 5px;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            text-indent: -99999px;
            .transition(all 0.5s);
            .box-shadow(1px 1px 3px rgba(0,0,0,0.75) inset,
                        0px 1px 0px rgba(255,255,255,0.1),
                        1px 0px 0px rgba(255,255,255,0.1)
                        );
            background-color: rgba(0,0,0,0.75);

            /*.box-shadow(1px 1px 3px rgba(0,0,0,0.5));*/

            &.active{
                background-color: #fc0;
                .box-shadow(1px 1px 3px rgba(0,0,0,0.7),
                            1px 1px 0 rgba(255,255,255,0.3) inset);
            }
        }
    }

}

.aestic-slide-info{
    position: absolute;
    width: 100%;
    right:0;
    top: 0;
    overflow: hidden;
    height: 0;

    span.caption{
        display: block;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        color: #fff;
        height: 100%;
        position: relative;

        > .inner-wrap{
            display: block;
            width: 40%;
            margin-left: 60px;
            position: absolute;
            top: 50%;

            font-size: 28px;
            line-height: 1.2;
            display: block;

            div.title{
                font-weight: normal;
                font-style: italic;
                font-size: 1.25em;

                &.bigger{
                    font-size: 1.5em;
                }
                &.biggest{
                    font-size: 2em;
                }
            }

            div.pre-title{
                text-transform: uppercase;
                font-family: @secondaryFontFamily;
                letter-spacing: 0.15em;
                font-size: 50%;
            }

            a{
                line-height: 1.5;
                font-weight: inherit;
                border-bottom: 2px solid #fc0;
                /*display: none;*/
                /*font-size: 12px;*/
                /*color: #fff;*/
                &:hover{
                    border-bottom-color: #fff;
                    /*opacity: 0.75 !important;*/
                }
            }

        }




    }

}

.aestic-slide-overlay{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 500px;
    background-image: url(../img/bg-dark.png);
    background-position: top left;
    opacity: 0.7;
}

/**** *********************/
.flexslider{
    border: none;
}
