.square-button{
    font-family: "Aesticons";
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    text-align: center;
    color: @secondary-bg !important;
    padding: 0px;
    .transition(all 0.3s ease);
    background-color: @secondary-sp !important;
    .border-radius(1px);
    /*.box-shadow(0 0 10px rgba(0,0,0,0.3));*/

    &:before {
        font-size: 24px;
        line-height: 50px;
    }

    &:hover{
        color: @secondary-sp !important;
        background-color: @secondary-bg !important;
        /*.box-shadow(0 0 15px rgba(0,0,0,0.5));*/
    }
    &:active{
        color: @secondary-sp !important;
        background-color: @secondary-bg !important;
        opacity: 0.8;
    }
}
