// VARIABLES

@primary-bg:    #FFAA00;
@primary-fg:    #FFFEDD;
@primary-sp:    #000000;

@secondary-bg:  #FFFFFF;
@secondary-fg:  #333333;
@secondary-sp:  #FFAA00;

@baseFontFamily: 'Libre Baskerville';
@baseFontSize:  16px;
@baseLineHeight: 1.85em;

@secondaryFontFamily: 'Source Sans';
@specialFontWeight: 300 ;

// INCLUDE BASE
@import 'base';

