//
// Typography
// --------------------------------------------------


// Body text
// -------------------------
body{
    font-family: @baseFontFamily;
    font-size: @baseFontSize;
    line-height: @baseLineHeight;
}
p {
    margin: 0 0 @baseLineHeight / 1.5;
    text-align: left;
}


// Emphasis & misc
// -------------------------

small {
    font-size: 85%; // Ex: 14px base font * 85% = about 12px
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
cite {
    font-style: normal;
}


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
    margin: (@baseLineHeight / 2) 0;
    line-height: @baseLineHeight;
    text-rendering: optimizelegibility; // Fix the character spacing for headings
    small {
        font-weight: normal;
        line-height: 1;
    }
}

h1,
h2,
h3 { line-height: @baseLineHeight * 2; }

h1 { font-size: @baseFontSize * 2; font-weight: normal; font-style: italic; text-transform: none; } // ~38px
h2 { font-size: @baseFontSize * 1.75; } // ~32px
h3 { font-size: @baseFontSize * 1.5; } // ~24px
h4 { font-size: @baseFontSize * 1.25; } // ~18px
h5 { font-size: @baseFontSize; }
h6 { font-size: @baseFontSize * 0.85; } // ~12px

h1 small { font-size: @baseFontSize * 1.75; } // ~24px
h2 small { font-size: @baseFontSize * 1.25; } // ~18px
h3 small { font-size: @baseFontSize; }
h4 small { font-size: @baseFontSize; }



// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
    padding: 0;
    margin: 0 0 @baseLineHeight / 2 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
}
li {
    line-height: @baseLineHeight;
}
ul.unstyled,
ol.unstyled {
    margin-left: 0;
    list-style: none;
}

// Description Lists
dl {
    margin-bottom: @baseLineHeight;
}
dt,
dd {
    line-height: @baseLineHeight;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: @baseLineHeight / 2;
}

