.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
a {
  text-decoration: none;
  color: #fff;
}
a:focus {
  outline: none;
}
body {
  overflow: hidden;
}
body {
  font-family: 'Libre Baskerville';
  font-size: 16px;
  line-height: 1.85em;
}
p {
  margin: 0 0 1.2333333333333334em;
  text-align: left;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.925em 0;
  line-height: 1.85em;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
}
h1,
h2,
h3 {
  line-height: 3.7em;
}
h1 {
  font-size: 32px;
  font-weight: normal;
  font-style: italic;
  text-transform: none;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 13.6px;
}
h1 small {
  font-size: 28px;
}
h2 small {
  font-size: 20px;
}
h3 small {
  font-size: 16px;
}
h4 small {
  font-size: 16px;
}
ul,
ol {
  padding: 0;
  margin: 0 0 0.925em 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 1.85em;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
dl {
  margin-bottom: 1.85em;
}
dt,
dd {
  line-height: 1.85em;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0.925em;
}
.button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ffaa00;
  color: #fffedd;
  text-shadow: none;
  /*border-radius: 3px;*/

  font-weight: bold;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.button:hover {
  background-color: #fffedd !important;
  color: #000000 !important;
}
header {
  position: fixed;
  background-color: #fff;
  left: 0;
  right: 0;
  z-index: 5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
header .nav-wrap {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
header .nav-wrap nav {
  font-family: 'Source Sans';
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  height: 70px;
  padding: 0 10px;
  text-align: center;
}
header .nav-wrap nav .pointer {
  height: 1px;
  background-color: #d00;
}
header .nav-wrap nav a,
header .nav-wrap nav a:visited {
  display: inline-block;
  line-height: 70px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}
header .nav-wrap .logo {
  position: absolute;
  left: 30px;
  font-size: 28px;
  line-height: 70px;
  font-style: italic;
}
header .nav-wrap .logo a {
  color: #aaa;
}
header .nav-wrap .social-link {
  position: absolute;
  right: 30px;
  top: 0px;
}
header .nav-wrap .social-link a {
  font-size: 18px;
  line-height: 70px;
  display: inline-block;
  margin-left: 5px;
  color: #aaa;
}
header .nav-wrap a {
  color: #666;
}
header .nav-wrap a:hover,
header .nav-wrap a.current {
  color: #000;
}
.preloader {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 50px;
  z-index: 999;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  padding: 25px;
}
.preloader.initial {
  top: 0;
  left: 0;
  right: 0;
}
.preloader > .text {
  display: block;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1;
  font-size: 10px;
}
.square-button {
  font-family: "Aesticons";
  display: block;
  text-decoration: none;
  line-height: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  color: #ffffff !important;
  padding: 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ffaa00 !important;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  /*.box-shadow(0 0 10px rgba(0,0,0,0.3));*/

}
.square-button:before {
  font-size: 24px;
  line-height: 50px;
}
.square-button:hover {
  color: #ffaa00 !important;
  background-color: #ffffff !important;
  /*.box-shadow(0 0 15px rgba(0,0,0,0.5));*/

}
.square-button:active {
  color: #ffaa00 !important;
  background-color: #ffffff !important;
  opacity: 0.8;
}
.aestic-slide-images {
  display: block;
  list-style: none;
  padding: 0;
  padding-top: 100%;
  margin: 0;
  position: absolute;
  overflow: hidden;
  height: 0;
  width: 100%;
}
.aestic-slide-images li {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.aestic-slide-navigation > a {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  font-family: "Aesticons";
  display: block;
  text-decoration: none;
  line-height: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  color: #ffffff !important;
  padding: 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ffaa00 !important;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  /*.box-shadow(0 0 10px rgba(0,0,0,0.3));*/

}
.aestic-slide-navigation > a.prev {
  right: 120px;
}
.aestic-slide-navigation > a.prev:before {
  content: "\0f1114";
}
.aestic-slide-navigation > a.next {
  right: 60px;
}
.aestic-slide-navigation > a.next:before {
  content: "\0f1115";
}
.aestic-slide-navigation > a:before {
  font-size: 24px;
  line-height: 50px;
}
.aestic-slide-navigation > a:hover {
  color: #ffaa00 !important;
  background-color: #ffffff !important;
  /*.box-shadow(0 0 15px rgba(0,0,0,0.5));*/

}
.aestic-slide-navigation > a:active {
  color: #ffaa00 !important;
  background-color: #ffffff !important;
  opacity: 0.8;
}
.aestic-slide-navigation .thumbs {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  text-align: center;
}
.aestic-slide-navigation .thumbs > a {
  vertical-align: center;
  display: inline-block;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  text-indent: -99999px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75) inset, 0px 1px 0px rgba(255, 255, 255, 0.1), 1px 0px 0px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75) inset, 0px 1px 0px rgba(255, 255, 255, 0.1), 1px 0px 0px rgba(255, 255, 255, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75) inset, 0px 1px 0px rgba(255, 255, 255, 0.1), 1px 0px 0px rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.75);
  /*.box-shadow(1px 1px 3px rgba(0,0,0,0.5));*/

}
.aestic-slide-navigation .thumbs > a.active {
  background-color: #fc0;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7), 1px 1px 0 rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7), 1px 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7), 1px 1px 0 rgba(255, 255, 255, 0.3) inset;
}
.aestic-slide-info {
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  overflow: hidden;
  height: 0;
}
.aestic-slide-info span.caption {
  display: block;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 100%;
  position: relative;
}
.aestic-slide-info span.caption > .inner-wrap {
  width: 40%;
  margin-left: 60px;
  position: absolute;
  top: 50%;
  font-size: 28px;
  line-height: 1.2;
  display: block;
}
.aestic-slide-info span.caption > .inner-wrap div.title {
  font-weight: normal;
  font-style: italic;
  font-size: 1.25em;
}
.aestic-slide-info span.caption > .inner-wrap div.title.bigger {
  font-size: 1.5em;
}
.aestic-slide-info span.caption > .inner-wrap div.title.biggest {
  font-size: 2em;
}
.aestic-slide-info span.caption > .inner-wrap div.pre-title {
  text-transform: uppercase;
  font-family: 'Source Sans';
  letter-spacing: 0.15em;
  font-size: 50%;
}
.aestic-slide-info span.caption > .inner-wrap a {
  line-height: 1.5;
  font-weight: inherit;
  border-bottom: 2px solid #fc0;
  /*display: none;*/

  /*font-size: 12px;*/

  /*color: #fff;*/

}
.aestic-slide-info span.caption > .inner-wrap a:hover {
  border-bottom-color: #fff;
  /*opacity: 0.75 !important;*/

}
.aestic-slide-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 500px;
  background-image: url(../img/bg-dark.png);
  background-position: top left;
  opacity: 0.7;
}
/**** *********************/
.flexslider {
  border: none;
}
body > div.content {
  position: absolute;
  overflow: hidden;
  background-color: #ffaa00;
  color: #fffedd;
}
body > div.content h1 {
  text-align: center;
  /*text-transform: uppercase;*/

  /*margin: 0;*/

  /*padding: 10px 0;*/

  /*font-size: 20px;*/

  /*font-weight: 800;*/

  /*border-bottom: solid 10px #fff;*/

}
body > div.content .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
}
.content.blogIndex .index {
  /*width: 360px;*/

  margin-right: auto;
  margin-left: auto;
}
.content.blogIndex .index ul,
.content.blogIndex .index li {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}
.content.blogIndex .index ul {
  padding-top: 20px;
}
.content.blogIndex .index li {
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.content.blogIndex .index li a {
  display: block;
  margin-bottom: 30px;
  position: relative;
}
.content.blogIndex .index li a > .title {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /*display: in;*/

  font-family: 'Source Sans';
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid transparent;
}
.content.blogIndex .index li a > .meta {
  display: block;
  margin-bottom: 5px;
  font-style: italic;
  font-weight: 600;
  float: right;
}
.content.blogIndex .index li a:hover > .title {
  border-bottom-color: #fff;
}
/** CONTACT PAGE **/
body > div.content.contact .layer.form {
  background-color: rgba(255, 170, 0, 0.85);
  color: #fff;
}
.layer.front-images {
  bottom: 70px;
  overflow: hidden;
}
.layer.front-images .slides.aestic-slide-images > li {
  background-color: #000;
}
.layer.front-images .slides.aestic-slide-images > li > img {
  opacity: 0.55;
}
.layer.front-images .slides.aestic-slide-images > li > img.fadeout {
  opacity: 0.15;
}
body > div.content.portfolioIndex {
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
}
body > div.content.portfolioIndex .categories {
  position: fixed;
  z-index: 1;
  text-transform: uppercase;
  bottom: 30px;
  left: 30px;
  display: block;
  width: 50px;
  min-height: 50px;
  font-size: 20px;
  /*overflow: hidden;*/

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family: 'fontello';
  background-color: #ffaa00 !important;
  color: #ffffff !important;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
body > div.content.portfolioIndex .categories:before {
  font-family: "Aesticons";
  display: inline-block;
  /*background-color: #444;*/

  text-align: center;
  content: '\0f1111';
  width: 100%;
  padding: 0;
  margin: 0;
  /*min-height: 50px;*/

  font-size: 24px;
  line-height: 50px;
}
body > div.content.portfolioIndex .categories ul {
  font-family: 'Source Sans';
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0;
  padding: 30px 30px 20px 30px;
  list-style: none;
  height: 0;
  width: 0;
  display: none;
}
body > div.content.portfolioIndex .categories ul li {
  padding: 0;
  margin: 0 0 10px 0;
}
body > div.content.portfolioIndex .categories ul li a {
  display: block;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: #ffaa00;
  opacity: 0.75;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
body > div.content.portfolioIndex .categories ul li a:hover {
  opacity: 1;
  padding-left: 5px;
}
body > div.content.portfolioIndex .categories ul li.active a {
  font-weight: 800;
  opacity: 1;
}
body > div.content.portfolioIndex .categories:hover {
  width: 200px;
  background-color: #ffffff !important;
  color: #ffaa00 !important;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: left;
  /*padding-top: 10px;*/

}
body > div.content.portfolioIndex .categories:hover:before {
  display: none;
  /*padding-left: 30px;*/

}
body > div.content.portfolioIndex .categories:hover ul {
  height: auto;
  width: auto;
  display: block;
}
body > div.content.portfolioIndex .wrap {
  padding: 0px 0px 0px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body > div.content.portfolioIndex .wrap ul {
  display: block;
  margin: 0;
  /*margin:30px 0;*/

  padding: 0;
  /*padding:0px 0 0 250px;*/

}
body > div.content.portfolioIndex .wrap ul li {
  display: block;
  padding: 0;
  margin: 0px;
  float: left;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body > div.content.portfolioIndex .wrap ul li.inactive {
  opacity: 0.3;
}
body > div.content.portfolioIndex .wrap ul li.inactive::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
body > div.content.portfolioIndex .wrap ul li a {
  display: block;
  padding: 0;
  margin: 0px;
  overflow: hidden;
  position: relative;
  background-color: #000000;
}
body > div.content.portfolioIndex .wrap ul li a span.info {
  position: absolute;
  padding: 30px;
  top: 0;
  left: 0;
  color: #fff;
  margin-top: 35px;
  opacity: 0;
  display: block;
  /*font-size: 12px;*/

  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
body > div.content.portfolioIndex .wrap ul li a span.info .title {
  font-size: 20px;
  line-height: 1.5em;
  /*font-weight: 800;*/

  /*text-transform: uppercase;*/

  font-style: italic;
  border-bottom: 1px solid #ffaa00;
}
body > div.content.portfolioIndex .wrap ul li a span.info .meta {
  font-family: 'Source Sans';
  letter-spacing: 0.15em;
  padding-top: 0px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
}
body > div.content.portfolioIndex .wrap ul li a:hover span.info {
  opacity: 1;
  margin-top: 25px;
}
body > div.content.portfolioIndex .wrap ul li a img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  opacity: 1;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
body > div.content.portfolioIndex .wrap ul li a:hover img {
  opacity: 0.15;
}
body > div.content.portfolioIndex.no-category .categories {
  display: none;
}
body > div.content.portfolioIndex.no-category .wrap ul {
  padding: 0 0 0 30px;
}
body > div.content.portfolioSingle {
  /*.aestic-slide-info,*/

  /*.aestic-slide-navigation{*/

  /*display: none;*/

  /*}*/

}
body > div.content.portfolioSingle .aestic-slide-navigation > a {
  z-index: 2;
  bottom: 30px;
  top: auto;
}
body > div.content.portfolioSingle .aestic-slide-navigation .next {
  bottom: 60px;
  right: 60px;
}
body > div.content.portfolioSingle .aestic-slide-navigation .prev {
  left: auto;
  bottom: 60px;
  right: 120px;
}
body > div.content.portfolioSingle .aestic-slide-info {
  display: none;
}
body > div.content.portfolioSingle .portfolio-desc {
  padding: 60px ;
  /*padding: 30px 30px 30px 110px ;*/

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body > div.content.portfolioSingle .portfolio-desc > .wrap {
  width: 35%;
  /*margin-left: auto;*/

}
body > div.content.portfolioSingle .portfolio-desc h1 {
  line-height: 42px;
  font-weight: 800;
  padding: 0;
  margin: 0 0 10px 0 ;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  text-align: left;
  font-weight: normal;
}
body > div.content.portfolioSingle .portfolio-desc .meta {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  font-size: 0.8em;
}
body > div.content.portfolioSingle .portfolio-desc .meta > a {
  text-transform: uppercase;
  font-family: 'Source Sans';
  letter-spacing: 0.15em;
  font-weight: 800;
}
body > div.content.portfolioSingle .portfolio-desc span.toggle-details {
  font-family: "Aesticons";
  display: none;
  /*display: block;*/

  line-height: 30px;
  width: 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  text-align: center;
  cursor: pointer;
  background-color: #ffaa00;
}
body > div.content.portfolioSingle .portfolio-desc span.toggle-details > span {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  display: block;
  line-height: 30px;
  width: 30px;
  font-size: 22px;
}
body > div.content.portfolioSingle .portfolio-desc .content {
  /*text-shadow: 1px 1px 2px fadeout(#000, 30%);*/

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  margin-top: 30px;
  top: 30px;
  opacity: 0;
  overflow: auto;
  padding-right: 20px;
  margin-right: -20px;
  font-size: 0.75em;
  line-height: 2em;
}
body > div.content.portfolioSingle .portfolio-desc .content p {
  text-align: left;
}
body > div.content.portfolioSingle .portfolio-desc-overlay {
  background-color: rgba(0, 0, 0, 0);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0.95)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2000000', endColorstr='#00000000', GradientType=1);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
}
body > div.content.portfolioSingle.active .portfolio-desc .content {
  top: 0;
  opacity: 1;
  /*opacity: 0.85;*/

}
body > div.content.portfolioSingle.active .portfolio-desc span.toggle-details > span {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
body > div.content.portfolioSingle.active .portfolio-desc-overlay {
  opacity: 1;
}
body > div.content.portfolioSingle .menu-buttons > a.close {
  font-family: "Aesticons";
  display: block;
  text-decoration: none;
  line-height: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  color: #ffffff !important;
  padding: 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ffaa00 !important;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  /*.box-shadow(0 0 10px rgba(0,0,0,0.3));*/

  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 60px;
}
body > div.content.portfolioSingle .menu-buttons > a.close:before {
  font-size: 24px;
  line-height: 50px;
}
body > div.content.portfolioSingle .menu-buttons > a.close:hover {
  color: #ffaa00 !important;
  background-color: #ffffff !important;
  /*.box-shadow(0 0 15px rgba(0,0,0,0.5));*/

}
body > div.content.portfolioSingle .menu-buttons > a.close:active {
  color: #ffaa00 !important;
  background-color: #ffffff !important;
  opacity: 0.8;
}
body > div.content.portfolioSingle .menu-buttons > a.close:before {
  content: "\0f1113";
}
.rail > div {
  background-color: #fffedd !important;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
body.touch-device {
  /*body{*/

}
body.touch-device > div.content.portfolioindex .wrap ul li a span.info {
  margin-top: 25px;
  opacity: 1;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
