/* =============================================================================
   Foundation General Icon
   ========================================================================== */

@font-face {
    font-family: 'FoundationIconsGeneralEnclosed';
    src: url('../fonts/foundation-icons-general-enclosed.eot');
    src: url('../fonts/foundation-icons-general-enclosed.eot?#iefix') format('embedded-opentype'),
         url('../fonts/foundation-icons-general-enclosed.woff') format('woff'),
         url('../fonts/foundation-icons-general-enclosed.ttf') format('truetype'),
         url('../fonts/foundation-icons-general-enclosed.svg#FoundationIconsGeneralEnclosed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'FoundationIconsGeneral';
  src: url('../fonts/foundation-icons-general.eot');
  src: url('../fonts/foundation-icons-general.eot?#iefix') format('embedded-opentype'),
       url('../fonts/foundation-icons-general.woff') format('woff'),
       url('../fonts/foundation-icons-general.ttf') format('truetype'),
       url('../fonts/foundation-icons-general.svg#FoundationIconsGeneral') format('svg');
  font-weight: normal;
  font-style: normal;
}
.general-icon {
    font-family: 'FoundationIconsGeneralEnclosed';
    font-size: 26px;
}

.general-icon.cog:before{ content: 'a'; }
.general-icon.heart:before{ content: 'b'; }
.general-icon.star:before{ content: 'c'; }
.general-icon.plus:before{ content: 'd'; }
.general-icon.minus:before{ content: 'e'; }
.general-icon.true:before{ content: 'f'; }
.general-icon.false:before{ content: 'g'; }
.general-icon.envelope:before{ content: 'h'; }
.general-icon.calendar:before{ content: 'i'; }
.general-icon.document:before{ content: 'j'; }
.general-icon.wrench:before{ content: 'k'; }
.general-icon.earth:before{ content: 'l'; }
.general-icon.home:before{ content: 'm'; }
.general-icon.quote:before{ content: 'n'; }
.general-icon.people:before{ content: 'o'; }
.general-icon.monitor:before{ content: 'p'; }
.general-icon.laptop:before{ content: 'q'; }
.general-icon.phone:before{ content: 'r'; }
.general-icon.cloud:before{ content: 's'; }
.general-icon.stop:before{ content: 't'; }
.general-icon.arrow-right:before{ content: 'u'; }
.general-icon.arrow-left:before{ content: 'v'; }
.general-icon.arrow-up:before{ content: 'w'; }
.general-icon.arrow-down:before{ content: 'x'; }
.general-icon.trash:before{ content: 'y'; }
.general-icon.new-document:before{ content: 'z'; }


.general-icon.mic:before{ content: '1'; }
.general-icon.cart:before{ content: '2'; }
.general-icon.address-book:before{ content: '3'; }
.general-icon.compas:before{ content: '4'; }
.general-icon.flag:before{ content: '5'; }
.general-icon.pin:before{ content: '6'; }
.general-icon.check:before{ content: '7'; }
.general-icon.folder:before{ content: '8'; }
.general-icon.download:before{ content: '9'; }
.general-icon.touchpad:before{ content: '0'; }
.general-icon.light-bulb:before{ content: '`'; }
.general-icon.happy:before{ content: '-'; }
.general-icon.magnifying-glass:before{ content: '='; }
.general-icon.write-document:before{ content: '['; }
.general-icon.unlocked:before{ content: ']'; }
.general-icon.locked:before{ content: "\005C"; }
.general-icon.refresh:before{ content: ';'; }
.general-icon.attach:before{ content: "'"; }
.general-icon.video:before{ content: ','; }
.general-icon.photo:before{ content: '.'; }
.general-icon.graph:before{ content: '/'; }
/* =============================================================================
   Foundation Social Icon
   ========================================================================== */

@font-face {
    font-family: 'FoundationIconsSocial';
    src: url('../fonts/foundation-icons-social.eot');
    src: url('../fonts/foundation-icons-social.eot?#iefix') format('embedded-opentype'),
         url('../fonts/foundation-icons-social.woff') format('woff'),
         url('../fonts/foundation-icons-social.ttf') format('truetype'),
         url('../fonts/foundation-icons-social.svg#FoundationIconsSocial') format('svg');
    font-weight: normal;
    font-style: normal;

}

.social-icon {
    font-family: 'FoundationIconsSocial';
    font-size: 18px;
    line-height: 20px;
}

.social-icon.like:before{ content: 'a'; }
.social-icon.dislike:before{ content: 'b'; }
.social-icon.rss:before{ content: 'c'; }
.social-icon.facebook:before{ content: 'd'; }
.social-icon.twitter:before{ content: 'e'; }
.social-icon.pinterest:before{ content: 'f'; }
.social-icon.linkedin:before{ content: 'g'; }
.social-icon.dribbble:before{ content: 'h'; }
.social-icon.stumbleupon:before{ content: 'i'; }
.social-icon.behance:before{ content: 'j'; }
.social-icon.reddit:before{ content: 'k'; }
.social-icon.googleplus:before{ content: 'l'; }
.social-icon.youtube:before{ content: 'm'; }
.social-icon.vimeo:before{ content: 'n'; }
.social-icon.flickr:before{ content: 'o'; }
.social-icon.slideshare:before{ content: 'p'; }
.social-icon.picasa:before{ content: 'q'; }
.social-icon.skype:before{ content: 'r'; }
.social-icon.steam:before{ content: 's'; }
.social-icon.instagram:before{ content: 't'; }
.social-icon.foursquare:before{ content: 'u'; }
.social-icon.delicious:before{ content: 'v'; }
.social-icon.chat:before{ content: 'w'; }
.social-icon.user:before{ content: 'x'; }
.social-icon.tumblr:before{ content: 'y'; }
.social-icon.ichat:before{ content: 'z'; }

/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

a:focus{
  outline:none;
}

body{
  overflow: hidden;
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
    font-size: 12px;
}



header{
  position: fixed;
  background-color: #fff;
  left:0;
  right:0;
  z-index: 5;
  box-shadow: 0 0 20px rgba(0,0,0,0.25) ;
  overflow:hidden;
  background-color: #f9a;
}



header .nav-wrap{
    position: absolute;
    right:0;
    left: 0;
    bottom: 0;
    height: 70px;
    box-shadow: 0 0 20px rgba(0,0,0,0.25) ;
}


header .pointer{
    height: 1px;
    /*border-radius: 2px;*/
}



header nav{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    padding: 0 10px;
    text-align: center;
    margin-top: 25px;
}

header nav a,
header nav a:visited
{
    display: inline-block;
    line-height:20px;
    margin-left:10px;
    margin-right: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;

}

header .logo{
    position: absolute;
    left: 30px;
    font-family: "Dosis";
    font-weight: 300;
    font-size: 32px;
    line-height: 70px;
}

header .social-link{
    position: absolute;
    right: 30px;
    top: 25px;
}

header .social-link a{
    display: inline-block;
    margin-left: 5px;
}


.preloader{

    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: 50px;
    z-index: 999;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    padding: 25px;
}

.preloader.initial{
    top: 0;
    left: 0;
    right: 0;
}

.preloader > .text{
    display: block;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 1;
	font-size: 10px;
}


body > div.content{
    position: absolute;
    overflow: hidden;
}

body > div.content p{
    text-align: justify;
}


.layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.layer.welcome{
    bottom: 100%;
    padding: 30px;
    font-size: 48px;
    font-family: "Dosis";
    line-height: 100%;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
}

.layer.front-images{
    bottom: 70px;
    overflow: hidden;
}

body > div.content .layer {
    bottom: auto;
}

body > div.content h1{
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 800;
}

body > div.content .container_12{
    padding-top: 50px;
    padding-bottom: 50px;
}

body > div.content .box{
    padding:  20px 30px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

/** [BEGIN] Portfolio Index ***************************************************************************/

body > div.content.portfolioIndex{
    top:70px;
    left:0;
    right:0;
    bottom:0;
    /*background-color: #efefef;*/
}


body > div.content.portfolioIndex .categories{

    position: absolute;
    z-index: 1;
    text-transform: uppercase;
    /*bottom:0;*/
    top: 10px;
    padding: 30px 0 0 30px;
    /*text-align: right;*/
    /*background-color: rgba(255,255,255,0.95);*/
    /*box-shadow: 1px 1px 15px rgba(0,0,0,0.7);*/
}

body > div.content.portfolioIndex .categories .title{
    font-size: 8px;
    padding-bottom: 20px;
}

body > div.content.portfolioIndex .categories ul{
    margin:0;
    padding:0;
}

body > div.content.portfolioIndex .categories ul li {
    padding:0;
    margin:0;
}

body > div.content.portfolioIndex .categories ul li a{
    font-size: 14px;
    line-height: 24px;
}


body > div.content.portfolioIndex .wrap{
    padding:  0px 0px 0px 0;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

body > div.content.portfolioIndex .wrap ul {
  display: block;
  padding:0;
  margin:30px 0;
  padding:0px 0 0 250px;
}

body > div.content.portfolioIndex .wrap ul li{
  display: block;
  padding:0;
  margin: 0px;
  float: left;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  position: relative;
  /*border-radius: 5px;*/
}

body > div.content.portfolioIndex .wrap ul li.inactive{
    box-shadow: none;
}

body > div.content.portfolioIndex .wrap ul li.inactive::after{
    content: '';
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

body > div.content.portfolioIndex .wrap ul li a{
  display: block;
  padding:0;
  margin:0px;
  overflow: hidden;
  position: relative;
}

/*body > div.content.portfolioIndex .wrap ul li a img{*/
  /*border-radius: 5px;*/
/*}*/

body > div.content.portfolioIndex .wrap ul li a:hover img{
  opacity: 0.15;
}



body > div.content.portfolioIndex span.info{
  position:absolute;
  display: none;
  padding: 20px;
  top: 0;
  left: 0;
}

body > div.content.portfolioIndex span.info .title{
  font-size:16px;
  line-height: 18px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-style: normal;
  /*padding-bottom: 20px;*/
}

body > div.content.portfolioIndex .wrap ul li a:hover span.info{
  display: block;
  font-size: 11px;
  font-style: italic;
}

body > div.content.portfolioIndex span.info span{
  display: block;
}

/** [END] Portfolio Index ***************************************************************************/



.aestic-slide-images{
    position: absolute;
    overflow: hidden;
    height: 0;
}

.aestic-slide-images,
li{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.aestic-slide-images li{
    overflow: hidden;
}

.aestic-slide-navigation{
    position: absolute;
    bottom:30px;
    right:30px;
    border-top: 1px dotted rgba(255,255,255,0.5);
}


.aestic-slide-navigation a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 30px;
    line-height: 40px;
    font-size: 24px;
    margin-left: 2px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
}

.aestic-slide-navigation a:hover{
    opacity: 0.5;
}

.aestic-slide-navigation .thumbs{
    display: none;
}

.aestic-slide-info{
    position: absolute;
    width: 100%;10
    right:0;
    top: 0;
    overflow: hidden;
    height: 0;
    text-align: right;
}

.aestic-slide-info a{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    display: block;
    padding: 30px;
    width: 250px;
    margin-bottom: 55px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.9);
}

.aestic-slide-info a:hover{
    opacity: 0.5 !important;
}

.aestic-slide-overlay{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 350px;
    background-image: url(../img/bg-dark.png);
    background-position: top left;
    opacity: 0.75;
}

/** CONTACT PAGE **/
body > div.content.contact .contact-detail{
    width: 184px;
    float: left;
    text-align: left;
}


body > div.content.contact .detail{
    margin-bottom: 10px;
}

body > div.content.contact .detail .icon{
    float: left;
    width: 30px;
    height: 30px;
    line-height: 1;
    vertical-align: text-top;
    color: #fff;
}

body > div.content.contact .detail .text{
    padding-top: 11px;
    padding-left: 40px;
}

body > div.content.contact .contact-form{
    width: 276px;
    float: right;
}

body > div.content.contact .contact-form .form-item{
    padding: 5px 0;
}

body > div.content.contact .contact-form input,
body > div.content.contact .contact-form textarea{
    border: none;
    line-height: 20px;
    padding: 3px 5px;
}


body > div.content.contact .contact-form input[type=text],
body > div.content.contact .contact-form textarea{
    /*box-shadow: 1px 1px 3px rgba(0,0,0,0.5) inset;*/
    width: 95%;
    border-bottom: 1px dotted rgba(255,255,255,0.5);
    background-color: transparent;
    color: #fff;
}

body > div.content.contact .contact-form textarea{
    height: 120px;
}

body > div.content#this-theme{
    font-family: 'Dosis';
    font-size: 40px;
    font-weight: 200;
    background-color: #FFCC00;
}


/* =============================================================================
   Color Variables
   ========================================================================== */

header .nav-wrap{
    background-color: #fff;
}

.nav-wrap a,
.nav-wrap a:visited{
    color: #666;
}




.nav-wrap .logo a,
.nav-wrap .social-link a{
    color: #999;
}

.nav-wrap a:hover,
.nav-wrap a.current{
    color: #000;
}


.nav-wrap .pointer{
    background-color: #d00;
}

body > div.content,
body > div.content .box{
    background-color: #fc0;
    color: #fff;
}

body > div.content a{
    color: #fff;
    /*border-bottom: 1px dotted #000;*/
}

body > div.content a:hover{
    color: #fff;
    /*border-bottom:1px dotted  #fff;*/
}


body > div.content.portfolioIndex .categories .title,
body > div.content.portfolioIndex .categories a{
    color: #aaa;
}

body > div.content.portfolioIndex .categories .active a{
    color: #d00;
}

body > div.content.portfolioIndex .categories a:hover{
    color: #666;
}

body > div.content.portfolioIndex .wrap ul li a:hover{
    background-color: #d00;
}


body > div.content.portfolioIndex .wrap ul li.null a,
body > div.content.portfolioIndex .wrap ul li.null a:hover{
  box-shadow: -5px -5px 25px rgba(0,0,0,0.15) inset;
  color: #eee;
  background-color: #fff;
}

body > div.content.portfolioIndex span.info{
    color: #fff;
}


body > div.content#this-theme{
    color: #fff;
}


body > div.content h1{
    border-bottom: solid 10px #fff;
}
/* =============================================================================
   Font Variables
   ========================================================================== */


body{
    font-family: 'Open Sans', 'Trebuchet MS';
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Dosis';
}
