/* =============================================================================
   Color Variables
   ========================================================================== */

header .nav-wrap{
    background-color: #fff;
}

.nav-wrap a,
.nav-wrap a:visited{
    color: #666;
}




.nav-wrap .logo a,
.nav-wrap .social-link a{
    color: #999;
}

.nav-wrap a:hover,
.nav-wrap a.current{
    color: #000;
}


.nav-wrap .pointer{
    background-color: #d00;
}

body > div.content,
body > div.content .box{
    background-color: #fc0;
    color: #fff;
}

body > div.content a{
    color: #fff;
    /*border-bottom: 1px dotted #000;*/
}

body > div.content a:hover{
    color: #fff;
    /*border-bottom:1px dotted  #fff;*/
}


body > div.content.portfolioIndex .categories .title,
body > div.content.portfolioIndex .categories a{
    color: #aaa;
}

body > div.content.portfolioIndex .categories .active a{
    color: #d00;
}

body > div.content.portfolioIndex .categories a:hover{
    color: #666;
}

body > div.content.portfolioIndex .wrap ul li a:hover{
    background-color: #d00;
}


body > div.content.portfolioIndex .wrap ul li.null a,
body > div.content.portfolioIndex .wrap ul li.null a:hover{
  box-shadow: -5px -5px 25px rgba(0,0,0,0.15) inset;
  color: #eee;
  background-color: #fff;
}

body > div.content.portfolioIndex span.info{
    color: #fff;
}


body > div.content#this-theme{
    color: #fff;
}


body > div.content h1{
    border-bottom: solid 10px #fff;
}
/* =============================================================================
   Font Variables
   ========================================================================== */


body{
    font-family: 'Open Sans', 'Trebuchet MS';
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Dosis';
}
