@font-face {
    font-family: 'Aesticons';
    src: url('aesticons-webfont.eot');
    src: url('aesticons-webfont.eot?#iefix') format('embedded-opentype'),
         url('aesticons-webfont.woff') format('woff'),
         url('aesticons-webfont.ttf') format('truetype'),
         url('aesticons-webfont.svg#Aesticons') format('svg');
    font-weight: normal;
    font-style: normal;
}


