<div class="content portfolioSingle" data-type="portfolioSingle" >

    <div class="layer">
        <ul class="slides aestic-slide-images">
            <li>
                <img src="assets/large/mandarina94_6857606713___352_365 Following the sunlight.jpg?v=9" alt="" >
            </li>
            <li>
                <img src="assets/large/mandarina94_6742343871___327_365 Add color to your sunset sky.jpg?v=9" alt="" >
            </li>
            <li>
                <img src="assets/large/mandarina94_6822832997___344_365 So tell me why you listen, when nobodys talking.jpg?v=9" alt="" >
            </li>
            <li>
                <img src="assets/large/mandarina94_6882767267___356_365 Vice Versa.jpg?v=9" alt="" >
            </li>
            <li>
                <img src="assets/large/mandarina94_6869213293___353_365 another winter shot....jpg?v=9" alt="" >
            </li>
        </ul>
    </div>


    <div class="layer portfolio-desc-overlay"></div>
    <div class="layer portfolio-desc">
        <div class="wrap">
            <h1 class="title">
                Following The Sunlight
                <span class="open-details">&hellip;</span>
            </h1>
            <span class="toggle-details"><span>&#987414;</span></span>
            <div class="scrollable content">
                <p>
                    Curabitur aliquet pharetra ante, quis vehicula enim imperdiet nec. Praesent nisi tortor, cursus sed elementum quis, imperdiet at felis. Nullam in nisl at nisl aliquam cursus sit amet eget libero
                </p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </div>
    </div>

    <div class="menu-buttons">
        <a href="#" class="close"></a>
    </div>

</div>
