<div class="content portfolioSingle" data-type="portfolioSingle" >

    <div class="layer">
        <ul class="slides aestic-slide-images">
            <li>
                <img src="assets/large/mandarina94_6601914783___301_365 Sweet rocknroll.jpg" alt="Donec eleifend nisl ac dolor" >
            </li>
            <li>
                <img src="assets/large/mandarina94_6601947123___302_365 New Year cookies.jpg" alt="Donec eleifend nisl ac dolor" >
            </li>
            <li>
                <img src="assets/large/mandarina94_6601947325___303_365 A plate of handbaked cookies.jpg" alt="Donec eleifend nisl ac dolor" >
            </li>
            <li>
                <img src="assets/large/mandarina94_6710596417___321_365 C is for Cookie.jpg" alt="Donec eleifend nisl ac dolor" >
            </li>
            <li>
                <img src="assets/large/mandarina94_6722220629___Homemade cookielicious.jpg" alt="Donec eleifend nisl ac dolor" >
            </li>
        </ul>
    </div>


    <div class="layer portfolio-desc-overlay"></div>
    <div class="layer portfolio-desc">
        <div class="wrap">
            <h1 class="title">
                Foodism
            </h1>
            <span class="toggle-details"><span>&#987414;</span></span>
            <div class="content scrollable">
                <p>
                    Curabitur aliquet pharetra ante, quis vehicula enim imperdiet nec. Praesent nisi tortor, cursus sed elementum quis, imperdiet at felis. Nullam in nisl at nisl aliquam cursus sit amet eget libero
                </p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <p>
                    Curabitur aliquet pharetra ante, quis vehicula enim imperdiet nec. Praesent nisi tortor, cursus sed elementum quis, imperdiet at felis. Nullam in nisl at nisl aliquam cursus sit amet eget libero
                </p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <p>
                    Curabitur aliquet pharetra ante, quis vehicula enim imperdiet nec. Praesent nisi tortor, cursus sed elementum quis, imperdiet at felis. Nullam in nisl at nisl aliquam cursus sit amet eget libero
                </p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <p>
                    Curabitur aliquet pharetra ante, quis vehicula enim imperdiet nec. Praesent nisi tortor, cursus sed elementum quis, imperdiet at felis. Nullam in nisl at nisl aliquam cursus sit amet eget libero
                </p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <p>
                    Curabitur aliquet pharetra ante, quis vehicula enim imperdiet nec. Praesent nisi tortor, cursus sed elementum quis, imperdiet at felis. Nullam in nisl at nisl aliquam cursus sit amet eget libero
                </p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <p>
                    Curabitur aliquet pharetra ante, quis vehicula enim imperdiet nec. Praesent nisi tortor, cursus sed elementum quis, imperdiet at felis. Nullam in nisl at nisl aliquam cursus sit amet eget libero
                </p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <p>
                    Curabitur aliquet pharetra ante, quis vehicula enim imperdiet nec. Praesent nisi tortor, cursus sed elementum quis, imperdiet at felis. Nullam in nisl at nisl aliquam cursus sit amet eget libero
                </p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <p>
                    Curabitur aliquet pharetra ante, quis vehicula enim imperdiet nec. Praesent nisi tortor, cursus sed elementum quis, imperdiet at felis. Nullam in nisl at nisl aliquam cursus sit amet eget libero
                </p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <p>
                    Curabitur aliquet pharetra ante, quis vehicula enim imperdiet nec. Praesent nisi tortor, cursus sed elementum quis, imperdiet at felis. Nullam in nisl at nisl aliquam cursus sit amet eget libero
                </p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </div>
    </div>

    <div class="menu-buttons">
        <a href="#" class="close"></a>
    </div>

</div>
