<div class="blogSingle content scrollable" data-type="blogSingle" data-index="-1" >
    <div class="layer">
        <div class="container">
            <div class="twelve columns offset-by-two">
                <h1>About This Theme</h1>
                <p>Inside the computer's world, there is only data. That which is not data, does not exist. Although all data is in essence just a sequence of bits<span class="footref">1</span>, and is thus fundamentally alike, every piece of data plays its own role. In JavaScript's system, most of this data is neatly separated into things called <a name="key1"></a>values. Every value has a type, which determines the kind of role it can play. There are six basic types of values: Numbers, strings, booleans, objects, functions, and undefined values.</p><p>To create a value, one must merely invoke its name. This is very convenient. You don't have to gather building material for your values, or pay for them, you just call for one and <em>woosh</em>, you have it. They are not created from thin air, of course. Every value has to be stored somewhere, and if you want to use a gigantic amount of them at the same time you might run out of computer memory. Fortunately, this is only a problem if you need them all simultaneously. As soon as you no longer use a value, it will dissipate, leaving behind only a few bits. These bits are recycled to make the next generation of values.</p>
                <p>Inside the computer's world, there is only data. That which is not data, does not exist. Although all data is in essence just a sequence of bits<span class="footref">1</span>, and is thus fundamentally alike, every piece of data plays its own role. In JavaScript's system, most of this data is neatly separated into things called <a name="key1"></a>values. Every value has a type, which determines the kind of role it can play. There are six basic types of values: Numbers, strings, booleans, objects, functions, and undefined values.</p><p>To create a value, one must merely invoke its name. This is very convenient. You don't have to gather building material for your values, or pay for them, you just call for one and <em>woosh</em>, you have it. They are not created from thin air, of course. Every value has to be stored somewhere, and if you want to use a gigantic amount of them at the same time you might run out of computer memory. Fortunately, this is only a problem if you need them all simultaneously. As soon as you no longer use a value, it will dissipate, leaving behind only a few bits. These bits are recycled to make the next generation of values.</p>
                <p>Inside the computer's world, there is only data. That which is not data, does not exist. Although all data is in essence just a sequence of bits<span class="footref">1</span>, and is thus fundamentally alike, every piece of data plays its own role. In JavaScript's system, most of this data is neatly separated into things called <a name="key1"></a>values. Every value has a type, which determines the kind of role it can play. There are six basic types of values: Numbers, strings, booleans, objects, functions, and undefined values.</p><p>To create a value, one must merely invoke its name. This is very convenient. You don't have to gather building material for your values, or pay for them, you just call for one and <em>woosh</em>, you have it. They are not created from thin air, of course. Every value has to be stored somewhere, and if you want to use a gigantic amount of them at the same time you might run out of computer memory. Fortunately, this is only a problem if you need them all simultaneously. As soon as you no longer use a value, it will dissipate, leaving behind only a few bits. These bits are recycled to make the next generation of values.</p>
            </div>
        </div>
    </div>
</div>
