<div class="staticPage content scrollable" data-type="staticPage" data-index="1" >
    <!--<div class="layer">-->
      <!--<img src="assets/blur2.jpg" class="bg-cover" alt=""  />-->
    <!--</div>-->
    <div class="layer">
      <div class="container">
          <div class="twelve offset-by-two columns">
              <h1>Heading 1</h1>
              <p>Every piece of data plays its own role. In JavaScript's system, most of this data is neatly separated into things called <a name="key1"></a>values. Every value has a type, which determines the kind of role it can play. There are six basic types of values: Numbers, strings, booleans, objects, functions, and undefined values.  </p>
              <h2>Heading 2</h2>
              <p>Every piece of data plays its own role. In JavaScript's system, most of this data is neatly separated into things called <a name="key1"></a>values. Every value has a type, which determines the kind of role it can play. There are six basic types of values: Numbers, strings, booleans, objects, functions, and undefined values.  </p>
              <h3>Heading 3</h3>
              <p>Every piece of data plays its own role. In JavaScript's system, most of this data is neatly separated into things called <a name="key1"></a>values. Every value has a type, which determines the kind of role it can play. There are six basic types of values: Numbers, strings, booleans, objects, functions, and undefined values.  </p>
              <h4>Heading 4</h4>
              <p>Every piece of data plays its own role. In JavaScript's system, most of this data is neatly separated into things called <a name="key1"></a>values. Every value has a type, which determines the kind of role it can play. There are six basic types of values: Numbers, strings, booleans, objects, functions, and undefined values.  </p>
              <h5>Heading 5</h5>
              <p>Every piece of data plays its own role. In JavaScript's system, most of this data is neatly separated into things called <a name="key1"></a>values. Every value has a type, which determines the kind of role it can play. There are six basic types of values: Numbers, strings, booleans, objects, functions, and undefined values.  </p>
              <h6>Heading 6</h6>
              <p>Every piece of data plays its own role. In JavaScript's system, most of this data is neatly separated into things called <a name="key1"></a>values. Every value has a type, which determines the kind of role it can play. There are six basic types of values: Numbers, strings, booleans, objects, functions, and undefined values.  </p>
              <blockquote>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <small>Someone famous <cite title="Source Title">Source Title</cite></small>
              </blockquote>
              <p>Every piece of data plays its own role. In JavaScript's system, most of this data is neatly separated into things called <a name="key1"></a>values. Every value has a type, which determines the kind of role it can play. There are six basic types of values: Numbers, strings, booleans, objects, functions, and undefined values.  </p>
              <ul>
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Consectetur adipiscing elit</li>
                  <li>Integer molestie lorem at massa</li>
                  <li>Facilisis in pretium nisl aliquet</li>
                  <li>Nulla volutpat aliquam velit
                  <ul>
                      <li>Phasellus iaculis neque</li>
                      <li>Purus sodales ultricies</li>
                      <li>Vestibulum laoreet porttitor sem</li>
                      <li>Ac tristique libero volutpat at</li>
                  </ul>
                  </li>
                  <li>Faucibus porta lacus fringilla vel</li>
                  <li>Aenean sit amet erat nunc</li>
                  <li>Eget porttitor lorem</li>
              </ul>
              <p>Every piece of data plays its own role. In JavaScript's system, most of this data is neatly separated into things called <a name="key1"></a>values. Every value has a type, which determines the kind of role it can play. There are six basic types of values: Numbers, strings, booleans, objects, functions, and undefined values.  </p>
              <ol>
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Consectetur adipiscing elit</li>
                  <li>Integer molestie lorem at massa</li>
                  <li>Facilisis in pretium nisl aliquet</li>
                  <li>Nulla volutpat aliquam velit</li>
                  <li>Faucibus porta lacus fringilla vel</li>
                  <li>Aenean sit amet erat nunc</li>
                  <li>Eget porttitor lorem</li>
              </ol>
              <p>Every piece of data plays its own role. In JavaScript's system, most of this data is neatly separated into things called <a name="key1"></a>values. Every value has a type, which determines the kind of role it can play. There are six basic types of values: Numbers, strings, booleans, objects, functions, and undefined values.  </p>
              <dl>
                  <dt>Description lists</dt>
                  <dd>A description list is perfect for defining terms.</dd>
                  <dt>Euismod</dt>
                  <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                  <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                  <dt>Malesuada porta</dt>
                  <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
              </dl>
          </div>
      </div>
    </div>

</div>
