<div class="blogIndex content scrollable" data-type="blogIndex" data-index="-1" >
    <div class="layer">
        <div class="container">
            <div class="ten columns offset-by-three index">
                <h1>Blog Archive</h1>
                <ul>
                	<li>
                		<a href="#/blog/lorem-ipsum">
                			<span class="meta">18 August 2008</span>
                			<span class="title">Lorem Ipsum Dolor Sit Amet</span>
                		</a>
                	</li>
                	<li>
                		<a href="#/blog/dolor-sit-amet">
                			<span class="meta">18 January 2008</span>
                			<span class="title">Quisque pulvinar nibh eros, at commodo quam</span>
                		</a>
                	</li>
                	<li>
                		<a href="#/blog/lorem-ipsum">
                			<span class="meta">18 Oct 2008</span>
                			<span class="title">Donec posuere volutpat orci</span>
                		</a>
                	</li>
                	<li>
                		<a href="#/blog/lorem-ipsum">
                			<span class="meta">18 Oct 2008</span>
                			<span class="title">Fusce accumsan</span>
                		</a>
                	</li>
                	<li>
                		<a href="#/blog/lorem-ipsum">
                			<span class="meta">18 Oct 2008</span>
                			<span class="title">Proin eget nisl eu odio ultricies ultricies id eget urna</span>
                		</a>
                	</li>
                	<li>
                		<a href="#/blog/lorem-ipsum">
                			<span class="meta">18 Oct 2008</span>
                			<span class="title">Aliquam erat volutpat</span>
                		</a>
                	</li>
                	<li>
                		<a href="#/blog/lorem-ipsum">
                			<span class="meta">18 Oct 2008</span>
                			<span class="title">Mauris</span>
                		</a>
                	</li>
                </ul>
            </div>
        </div>
    </div>
</div>
