<div class="contact content" data-type="contact" data-index="2" >
    <div class="layer">
        <iframe class="fit-window" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="./pages/map/"></iframe>
    </div>
    <div class="layer form">
        <div class="container">
            <div class="twelve offset-by-two columns">
                <h1>Contact</h1>
                <p>
                If you have something to say to us, please don't hesitate to tell us. You can reach us using these following contact details.
                </p>
            </div>
            <div class="offset-by-two six columns">
                <div class="detail clearfix">
                    <div class="text"> Keith Douglas<br> Quai Henri IV<br> 75004 Paris, France </div>
                </div>
                <div class="detail clearfix">
                    <div class="text"> john at doe dot com </div>
                </div>
                <div class="detail clearfix">
                    <div class="text"> +62 56 675465 7 </div>
                </div>
            </div>
            <div class="six columns">
                <div class="form-item">
                    <input type="text" name="name" placeholder="Your Name" />
                </div>
                <div class="form-item">
                    <input type="text" name="email" placeholder="Your Email" />
                </div>
                <div class="form-item">
                    <textarea name="msg" row="6" placeholder="Your Messages"></textarea>
                </div>
                <div class="form-item">
                    <input type="button" name="submit" value="Submit" />
                </div>
            </div>
        </div>
    </div>
</div>
