<div class="header-wrap" data-type="home" >
    <div class="layer front-images">
        <ul class="slides aestic-slide-images">
            <li>
            <img class="fadeout" src="assets/large/mandarina94_6836192384___In the meantime Ill be waiting for twenty years and twenty more.jpg?v=9" alt="Heart on Fire" >
            <div>
                <div class="title biggest">
                    <a href="#about">
                        We Shot,<br>
                        We Tell Story,<br>
                        We Are Æstic.
                    </a>
                </div>
            </div>
            </li>
            <li>
            <img src="assets/large/mandarina94_6857606713___352_365 Following the sunlight.jpg?v=9" alt="Donec eleifend nisl ac dolor" >
            <div>
                <div class="pre-title">
                    From our Blog:
                </div>
                <div class="title big">
                    <a href="#portfolio/following-the-sunlight">
                        Following the sunlight
                    </a>
                </div>
            </div>
            <!--<span class="title">Following the sunlight</span>-->
            <!--<p> <a href="#portfolio/following-the-sunlight" class="slide-action">View Album</a> </p>-->
            </li>
            <li>
            <img src="assets/large/mandarina94_6601914783___301_365 Sweet rocknroll.jpg" alt="Donec eleifend nisl ac dolor" >
            <div>
                <div class="title">
                    <a href="#portfolio/foodism">
                        Foodism
                    </a>
                </div>
            </div>
            </li>
            <li>
            <img src="assets/large/mandarina94_8217418013___autemn flowers.jpg?v=9" alt="Heart on Fire" >
            <div>
                <div class="title">
                    <a href="#portfolio/fresh-november">
                        Fresh November
                    </a>
                </div>
            </div>
            </li>
            <li>
            <img src="assets/large/mandarina94_6797793255___337_365 Few minutes before the concert.jpg?v=9" alt="" >
            <div>
                <div class="title">
                    <a href="#portfolio/music-dwells">
                        Where Music Dwells
                    </a>
                </div>
            </div>
            </li>
            <li>
            <img src="assets/large/mandarina94_7692576580___Sisterlove.jpg?v=9" alt="Nulla tincidunt sem quis nulla vestibulum" >
            <div>
                <div class="title">
                    <a href="#portfolio/sisterlove">
                        Sisterlove
                    </a>
                </div>
            </div>
            </li>
        </ul>
    </div>
</div>
