<div class="portfolioIndex content scrollable" data-type="portfolioIndex" data-index="0">
    <div class="categories icon-menu">
        <ul>
            <li class="all active"><a href="#/portfolio">All</a></li>
            <li class="people"><a href="#/portfolio/category:people">People</a></li>
            <li class="food"><a href="#/portfolio/category:food">Food</a></li>
            <li class="nature"><a href="#/portfolio/category:nature">Nature</a></li>
            <li class="thing"><a href="#/portfolio/category:thing">Thing</a></li>
            <li class="street"><a href="#/portfolio/category:street">Street</a></li>
        </ul>
    </div>
    <div class="wrap">
        <ul class="portfolio-list clearfix">

          <li class="street nature">
            <a href="#/portfolio/following-the-sunlight">
              <span class="info">
                <span class="title">Following the Sunlight</span>
                <span class="meta">Street, Nature</span>
              </span>
              <img  src="assets/thumbs/mandarina94_6857606713___352_365 Following the sunlight.jpg?v=1" alt="">
            </a>
          </li>

          <li class="food">
            <a href="#/portfolio/foodism">
              <span class="info">
                <span class="title">Foodism</span>
                <span class="meta">Food</span>
              </span>
              <img  src="assets/thumbs/mandarina94_6601914783___301_365 Sweet rocknroll.jpg?v=1" alt="">
            </a>
          </li>



          <li class="people">
            <a href="#/portfolio/breathe">
              <span class="info">
                <span class="title">I Have This Breathe and I Hold it Tight</span>
                <span class="meta">People</span>
              </span>
              <img  src="assets/thumbs/mandarina94_6837154789___I have this breathe and I hold it tight....jpg?v=1" alt="">
            </a>
          </li>



          <li class="thing">
            <a href="#/portfolio/heart-on-fire">
              <span class="info">
                <span class="title">Heart on Fire</span>
                <span class="meta">thing</span>
              </span>
              <img  src="assets/thumbs/mandarina94_6750929953___331_365 Heart on fire.jpg?v=1" alt="">
            </a>
          </li>



          <li class="people thing">
            <a href="#/portfolio/music-dwells">
              <span class="info">
                <span class="title">Where Music Dwells</span>
                <span class="meta">People, Thing</span>
              </span>
              <img  src="assets/thumbs/mandarina94_6797793255___337_365 Few minutes before the concert.jpg?v=1" alt="">
            </a>
          </li>



          <li class="people nature">
            <a href="#/portfolio/sisterlove">
              <span class="info">
                <span class="title">Sisterlove </span>
                <span class="meta">People, Nature</span>
              </span>
              <img  src="assets/thumbs/mandarina94_7692576580___Sisterlove.jpg?v=1" alt="">
            </a>
          </li>



          <li class="people">
            <a href="#/portfolio/she-is-bold">
              <span class="info">
                <span class="title">She's Bold</span>
                <span class="meta">People</span>
              </span>
              <img  src="assets/thumbs/mandarina94_7247604030___She is bold.jpg?v=1" alt="">
            </a>
          </li>



          <li class="street nature">
            <a href="#/portfolio/morning-walk">
              <span class="info">
                <span class="title">Morning Walk</span>
                <span class="meta">Street, nature</span>
              </span>
              <img  src="assets/thumbs/mandarina94_7621009584___Morning walk in the sleepy city of dreams.jpg?v=1" alt="">
            </a>
          </li>



          <li class="food">
            <a href="#/portfolio/litle-things">
              <span class="info">
                <span class="title">Litle Things </span>
                <span class="meta">Food</span>
              </span>
              <img  src="assets/thumbs/mandarina94_7083392647___These little things that make our days.jpg?v=1" alt="">
            </a>
          </li>



          <li class="nature street">
            <a href="#/portfolio/fresh-november">
              <span class="info">
                <span class="title">Fresh November</span>
                <span class="meta">Nature, Street</span>
              </span>
              <img  src="assets/thumbs/mandarina94_8217418013___autemn flowers.jpg?v=1" alt="">
            </a>
          </li>



          <li class="nature">
            <a href="#/portfolio/awakening">
              <span class="info">
                <span class="title">Awakening</span>
                <span class="meta">Nature</span>
              </span>
              <img  src="assets/thumbs/mandarina94_7110289795___Awakening.jpg?v=1" alt="">
            </a>
          </li>



          <li class="people">
            <a href="#/portfolio/street-rider">
              <span class="info">
                <span class="title">Street Riders </span>
                <span class="meta">People</span>
              </span>
              <img  src="assets/thumbs/mandarina94_6696579247___Street riders.jpg?v=1" alt="">
            </a>
          </li>



          <li class="thing">
            <a href="#/portfolio/bepaint">
              <span class="info">
                <span class="title">Bepaint</span>
                <span class="meta">Thing</span>
              </span>
              <img  src="assets/thumbs/mandarina94_6731684699___325_365 Bepaint.jpg?v=1" alt="">
            </a>
          </li>



          <li class="people">
            <a href="#/portfolio/new-year">
              <span class="info">
                <span class="title">Old New Year Celebration </span>
                <span class="meta">People</span>
              </span>
              <img  src="assets/thumbs/mandarina94_6709039097___319_365 Old New Year celebration.jpg?v=1" alt="">
            </a>
          </li>



          <li class="people">
            <a href="#/portfolio/beautiful-girl">
              <span class="info">
                <span class="title">Beautiful Girl </span>
                <span class="meta">People</span>
              </span>
              <img  src="assets/thumbs/mandarina94_7002185546___self-portrait.jpg?v=1" alt="">
            </a>
          </li>



          <li class="thing">
            <a href="#/portfolio/sheer-simplicity">
              <span class="info">
                <span class="title">Sheer Simplicity </span>
                <span class="meta">Thing</span>
              </span>
              <img  src="assets/thumbs/mandarina94_6851976777___350_365 Sheer simplicity.jpg?v=1" alt="">
            </a>
          </li>


          <li class="nature">
            <a href="#/portfolio/this-litle-wonder">
              <span class="info">
                <span class="title">This Litle Wonders </span>
                <span class="meta">Nature</span>
              </span>
              <img  src="assets/thumbs/mandarina94_7300862470___These little wonders.jpg?v=1" alt="">
            </a>
          </li>


          <li class="people">
            <a href="#/portfolio/studio-photoshots">
              <span class="info">
                <span class="title">Studio Photoshot </span>
                <span class="meta">People</span>
              </span>
              <img  src="assets/thumbs/mandarina94_7189683399___Lena studio photoshot.jpg?v=1" alt="">
            </a>
          </li>


          <li class="food">
            <a href="#/portfolio/breakfast">
              <span class="info">
                <span class="title">Breakfast </span>
                <span class="meta">Food</span>
              </span>
              <img  src="assets/thumbs/mandarina94_6818606121___343_365 orange little something.jpg?v=1" alt="">
            </a>
          </li>



          <li class="thing street">
            <a href="#/portfolio/waiting">
              <span class="info">
                <span class="title">I'll be waiting for twenty years </span>
                <span class="meta">Thing, Street</span>
              </span>
              <img  src="assets/thumbs/mandarina94_6836192384___In the meantime Ill be waiting for twenty years and twenty more.jpg?v=1" alt="">
            </a>
          </li>



          <li class="food">
            <a href="#/portfolio/splash">
              <span class="info">
                <span class="title">Splash! </span>
                <span class="meta">Food</span>
              </span>
              <img  src="assets/thumbs/mandarina94_6931605165___365_365 Massive attack.jpg?v=1" alt="">
            </a>
          </li>



          <li class="nature">
            <a href="#/portfolio/birthday-flowers">
              <span class="info">
                <span class="title">Birthday Flowers </span>
                <span class="meta">Nature</span>
              </span>
              <img  src="assets/thumbs/mandarina94_6653567281___308_365 Birthday flowers.jpg?v=1" alt="">
            </a>
          </li>



        </ul>
    </div> <!-- /div.wrap -->
</div>
